* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clear {clear: both;}

.center {
    width: 80%;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    background: #2359af;
    padding: 8px 0;
}

.logo {
    margin-top: 15px;
    float: left;
    color: white;

}

.logo h2 {
    font-size: 30px;
    font-weight: bold;
}

form.form-login{
    float: right;
}

.form-login .form-element {
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size:  14px;
}

.form-element input[type=email],
.form-element input[type=password] {
    margin-top: 5px;
    outline: none;
    border: none;
    height: 22px;
    border-radius: 3px;
    padding: 0 3px;
}

.form-element input[type=submit] {
    cursor: pointer;
    border-radius: 2px;
    border: none;
    padding: 3px;
    width: 100px;
    background: #30c765;
    color: white;
}

.form-element input[type=submit]:hover {
    background: rgb(26, 177, 43);
    transition: 200ms;
}

section.main {
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

.text-main {
    padding-bottom: 10px;
}

.text-main h3 {
    color: #365899;
}

.img-pessoas {
    float: left;
    width: 55%;
    padding-right: 20px;
}

.img-pessoas img {
    max-width: 100%;
}

.abrir-conta {
    width: 45%;
    float: left;
}

.abrir-conta h2 {
    color: black;
    font-size: 40px;
    padding: 0px 5px;
}

.abrir-conta h3 {
    margin: 10px 5px;
    font-size: 16px;
    color: rgb(25, 25, 25);
}

form.criar-conta {
    margin-top: 10px;
}

.w50 {
    width: 50%;
    padding: 0 5px;
    float: left;
}

.w100 {
    width: 100%;
    padding: 0 5px;
    float: left;
}

form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password] {
    width: 100%;
    margin: 5px 0;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #2359af;
    border-radius: 5px;
}

form.criar-conta input[type=submit] {
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: none;
    width: 70%;
    max-width: 200px;
    font-size: 19px;
    border-radius: 5px;
}

form .date h2 {
    font-size: 16px;
    color: rgb(90, 90, 90);
    margin-top: 10px;
}

form .date {
    padding: 0 5px;
}

form .date p {
    float: right;
    padding: 5px;
    width: 50%;
    font-size: 15px;
}

form .date p a{
    text-decoration: none;
    color: rgb(23, 23, 186);
}

form.criar-conta input[type=date] {
    width: 50%;
    margin-top: 5px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #2359af;
    border-radius: 5px;
}

form .radio input[type=radio] {
    cursor: pointer;
}

form .radio {
    margin: 10px 0;
    padding: 5px 5px;
}

form .input-radio {
    display: inline-block;
}

form .input-radio p {
    float: right;
    margin-right: 80px;
    margin-left: 3px;
    font-size: 18px;
}

form .termos {
    margin: 20px 0;
    padding: 0 5px;
}

form .termos p a {
    text-decoration: none;
    color:rgb(23, 23, 186)
}


form .criar-pag {
    padding: 0 5px;
}

form .criar-pag p {
    margin-top: 30px;
}

form .criar-pag p a {
    text-decoration: none;
    color:rgb(23, 23, 186)
}

footer {
    padding: 30px 0;
    background: white;
}

footer a {
    font-size: 13px;
    color: #365899;
    text-decoration: none;
    padding-right: 15px;
}

footer .center ul{
    list-style-position: inside;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

footer .center ul li {
    display: inline-block;
}

footer .center ul li .selected {
    color: #737373;
}

footer .center ul li input[type=button] {
    width: 40px;
    cursor: pointer;
}

footer .center .outros ul {
    padding-top: 10px;
    border-bottom: 0;
}

.direitos .center p {
    font-size: 12px;
}

@media screen and (max-width:768px) {
    .logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    form.form-login {
        margin-top: 15px;
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-login .form-element {
        display: block;
        margin: 6px 0;
    }
    
    .form-element p{
        color: white;
        font-size:  14px;
    }
    
    .form-element input[type=email],
    .form-element input[type=password] {
        width: 100%;
        max-width: 300px;
        margin-top: 5px;
        outline: none;
        border: none;
        height: 22px;
        border-radius: 3px;
        padding: 0 3px;
    }

    .form-element input[type=submit] {
        width: 30%;
        max-width: 140px;
    }

    .img-pessoas {
        float: none;
        width: 100%;
        text-align: center;
    }

    .abrir-conta {
        float: none;
        width: 100%;
    }
}